<div>
  {{#draggable-item content=card}}
  <div class="card {{background}}">
    <div class="card-content white-text">
            <p align ="right" class="priority--title">{{priority}} </p>
      <span class="card-title">{{card.title}}</span>
      <p>{{card.description}}</p>
      <p>{{developer.full_name}}</p>
    </div>
  </div>
   {{/draggable-item}}
</div>
