<h2>Dashboard</h2>

<div class="row">
  {{board-kanban board="A fazer" cards=todo}}
  {{board-kanban board="Desenvolvimendo" cards=development}}
  {{board-kanban board="Testando" cards=testing}}
  {{board-kanban board="Homologando" cards=homologation}}
</div>

<a href="#" {{action 'logout'}}>Logout</a>
